{% extends 'base.html' %}
{% load static cms_tags %}
{% block title %}{{ article.title }} - {% endblock %}
{% block ogtitle %}{{ article.title }} - {% endblock %}

{% block description %}{{ article.header|striptags|truncatewords:20|safe }}{% endblock %}
{% block ogdescription %}{{ article.header|striptags|truncatewords:20|safe }}{% endblock %}

{% block keywords %}
    {% for section in article.get_sections %}
        {% if section.keywords %}
            {{ section.keywords }},
        {% endif %}
    {% endfor %}
    {% if article.keywords %}
        {{ article.keywords }},
    {% endif %}
{% endblock %}


{% block content %}
<main>
        <section id="hero">
            <div class="container">
                <img src="{{article.first_image}}" class="img-fluid" alt="">
            </div>
        </section>

        <section id="conteudo" class="pt-4 pb-5">
            <div class="container">
                <p>{{ article.created_at|date:"d/m/Y" }}</p>
                <h1 class="fw-bold mb-3">{{article.title}}</h1>
                {{article.content|safe}}
            </div>
        </section>
    </main>
{% endblock content %}
