{% extends 'base.html' %}
{% load cms_tags static %}

{% load menu_tags cms_tags thumbnail static %}

{% block description %}
    {% get_article 'header' as header %}
    {{ header.content|striptags|truncatewords:20|safe }}
{% endblock %}
{% block ogdescription %}
    {% get_article 'header' as header %}
    {{ header.content|striptags|truncatewords:20|safe }}
{% endblock %}

{% block keywords %}
    {% get_article 'header' as header %}
    {% if header.keywords %}
        {{ header.keywords }}
    {% endif %}
{% endblock %}

{% block content %}
<main>
    {% get_article 'hero' as hero %}
    {% get_article_attributes 'hero' key='iframe' as iframe %}
    
    {% if iframe %}    
        <section id="hero" class="d-flex align-items-center text-center text-white">
            <div class="container">
                <div class="ratio ratio-16x9">
                    <iframe src="{{ iframe.0.value }}"
                    title="YouTube video player" allowfullscreen
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                </div>
            </div>
        </section>
    {% endif %}
    
    {% if hero %}
        <section id="sobre" class="py-5">
            <div class="container">
                {{ hero.header|safe }}
                <a href="{{hero.get_absolute_url}}" class="btn btn-warning text-white fw-bold px-4 py-2">Saiba Mais</a>
            </div>
        </section> 
    {% endif%}
    
    {% get_article 'navegue' as navegue %}
    {% if navegue %}
        <section id="navegue">
            <div class="container">
                <h2>{{navegue.title}}</h2>
                <div class="navegue-buttons">
                    {% for item in navegue.articleattribute_set.all %}
                        <a href="{{item.value}}" class="nav-btn">{{item.attrib}}</a>
                    {% endfor %}                
                </div>
            </div>            
        </section>
    {% endif %}

    {% get_section_articles 'noticias' 3 as noticias %}
    {% get_section 'noticias' as noticia_section %}
    <!-- Notícias -->
    {% if noticias %}
        <section id="noticias" class="py-5">
            <div class="container">
                <h2>Últimas Notícias</h2>
                <div class="row g-4">
                {% for noticia in noticias %}                    
                    <div class="col-md-4">
                        <div class="card h-100 border-0 shadow-sm">
                            <a href="{{noticia.get_absolute_url}}"><img src="{{noticia.first_image}}" class="card-img-top" alt="Notícia"></a>
                            <div class="card-body">
                                <a href="{{noticia.get_absolute_url}}">
                                    <h5 class="card-title">
                                        {{noticia.title}}
                                    </h5>
                                </a>
                                <p class="card-text small text-muted">
                                    {{noticia.content|safe|striptags|truncatewords:30}}
                                </p>
                            </div>
                            <div
                                class="card-footer bg-white border-0 d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{noticia.created_at|date:"d/m/Y"}}</small>
                                <a href="noticia.html" class="text-decoration-none fw-semibold small leiamais">Leia mais→</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                   
                <!-- Botão Carregar Mais -->
                <div class="text-center mt-5">
                    <a href="{{noticia_section.get_absolute_url}}" class="btn btn-warning fw-bold text-white px-5 py-2">Ver todas</a>
                </div>
            </div>
        </section>
    {% endif %}
</main>
{% endblock%}